body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

.site-navigation .catalog-item {
  border-bottom: 2px solid #fb565a;
  padding-bottom: 8px;
}

.site-navigation,
.user-basket {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 27px;
}

.basket-link::before {
  content: "";
  position: absolute;
  background-image: url(../img/basket-icon.png);
  top: 33px;
  left: -40px;
  width: 15px;
  height: 15px;
  margin: auto;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-navigation a:hover img,
.main-navigation a:focus img {
  opacity: 0.8;
}

.main-navigation a:active img {
  opacity: 0.3;
}

.site-navigation a,
.user-basket a {
  color: #000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-basket a:hover,
.user-basket a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-basket a:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 80px;
  border-bottom: 2px solid rgba(204, 204, 204, 0.4);
  padding-bottom: 62px;
  flex-wrap: wrap;
}

.product-item {
  text-align: left;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.product-item:nth-child(3n) {
  margin-right: 0;
}

.product-item h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
}

.button {
  padding: 19px 40px 15px;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background-color: #fb565a;
  border-radius: 3px;
  font-weight: 500;
  line-height: 18px;
  font-size: 16px;
}

.button--green {
  background-color: #00ca74;
}

.button--yellow {
  background-color: #efc84a;
}

.button--red:hover,
.button--red:focus {
  background-color: #e74246;
}

.button--green:hover,
.button--green:focus {
  background-color: #00bc6c;
}

.button--yellow:hover,
.button--yellow:focus {
  background-color: #eab534;
}

.button--red:active {
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.button--green:active {
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.button--yellow:active {
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.button--small {
  padding: 16px 44px;
}

.filter-button {
  padding: 17px 88px 16px 89px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  font-weight: 500;
  color: #000;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background-color: #eee;
  border-radius: 3px;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.text--bold {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin-top: 72px;
  margin-bottom: 35px;
}

.text--upper {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 24px;
}

.text--standart {
  margin: 0;
  margin-bottom: 37px;
}

.statistic-percent {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 38px;
}

.statistic-title {
  font-size: 16px;
  line-height: 18px;
  color: #283136;
  display: inline-block;
}

.statistic-item {
  margin-right: 3px;
}

.address,
.mobile-phone {
  font-size: 16px;
  line-height: 18px;
  color: #666;
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-slogan {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
}

.footer-discount {
  font-size: 16px;
  line-height: 22px;
  color: #444;
  margin: 0;
  margin-bottom: 14px;
  margin-top: 9px;
}

.filter-title {
  font-size: 18px;
  line-height: 30px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-top: 53px;
  margin-bottom: 16px;
}

.sort-type {
  font-size: 18px;
  line-height: 18px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: auto;
}

.price__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.18px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 46px;
}

.navigation .text--upper {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 34px;
}

.list-of-examples li {
  color: #283136;
}

.list-of-examples {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 36px;
}

.example {
  position: relative;
  margin: 0;
  margin-bottom: 24px;
}

.example:before {
  content: "";
  position: absolute;
  left: -35px;
  top: 12px;
  border-bottom: 2px solid #fb565a;
  padding: 0 0 0 25px;
}

.statistics {
  list-style: none;
}

.cooperation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 36px;
  border-bottom: 2px solid rgba(204, 204, 204, 0.4);
  border-top: 2px solid rgba(204, 204, 204, 0.4);
  margin-bottom: 80px;
  margin-top: 49px;
  flex-wrap: wrap;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.login-form label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000;
}

.price-form label {
  font-size: 16px;
  line-height: 20px;
  color: #283136;
  margin-left: 23px;
}

.login-form input[type="text"],
.area {
  font-size: 16px;
  border: 2px solid #d7dcde;
  border-radius: 5px;
}

.backmarket {
  background-color: #eee;
  text-align: center;
  padding: 59px 0 109px;
}

.market {
  margin: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.sort-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.sort-list a {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.sort-list-pointer li:first-child {
  margin-right: 18px;
}

.sort-list-pointer {
  align-items: center;
}

.sort-list-text {
  display: flex;
  justify-content: space-between;
  margin-right: 48px;
  min-width: 271px;
}

.sort-list-text .off-list-text:hover,
.sort-list-text .off-list-text:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-list-text .off-list-text:active,
.sort-list-text .active-list-text {
  color: #000;
}

.up-pointner {
  display: block;
  border: 11px solid #ededed;
  border-top-width: 0;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.down-pointner {
  display: block;
  border: 11px solid #000;
  border-bottom-width: 0;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.up-pointner:hover,
.up-pointner:focus {
  border-bottom-color: #a6a6a6;
}

.up-pointner:active {
  border-bottom-color: #000;
}

.product-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

.product-name:hover,
.product-name:focus {
  color: #fb565a;
}

.product-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-price {
  font-size: 16px;
  line-height: 18px;
  padding: 19px 60px 18px 62px;
}

.product-price:hover,
.product-price:focus {
  background-color: #e74246;
}

.product-price:active {
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.product-title {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-title p {
  font-size: 16px;
  line-height: 18px;
  color: #666;
  text-align: center;
}

.number-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.number-container {
  display: flex;
  margin-bottom: 58px;
  margin-top: 30px;
}

.number-list li {
  max-height: 49px;
  margin-right: 10px;
}

.number-active {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  border: solid 3px #dbdbdb;
  border-radius: 3px;
  background-color: #fff;
  padding: 13px 18px;
}

.number a {
  display: block;
  font-size: 16px;
  box-sizing: border-box;
  line-height: 18px;
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #eee;
  padding: 16px 21px 15px 20px;
  border-radius: 3px;
}

.number-next {
  padding: 17px 77px 13px 79px;
  border-radius: 3px;
  display: block;
  font-size: 16px;
  box-sizing: border-box;
  line-height: 18px;
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #eee;
}

.number a:hover,
.number a:focus,
.number-next:hover,
.number-next:focus {
  background-color: #dfdfdf;
}

.number a:active,
.number-next:active {
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 1, 1, 0.1);
}

.cooperation-list img {
  opacity: 0.2;
}

.cooperation-list a:hover img,
.cooperation-list a:focus img {
  opacity: 1;
}

.cooperation-list a:active img {
  opacity: 0.1;
}

.section-map {
  position: relative;
}

.section-map .navigation {
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #fff;
  padding: 48px 50px 47px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation .text--upper {
  margin: 0 0 23px;
}

.navigation .address {
  margin: 0 0 36px;
}

.social-button {
  display: block;
  background-color: #e1e1e1;
  border-radius: 50%;
  width: 79px;
  height: 79px;
  position: relative;
  margin-right: 12px;
  top: -7px;
}

.button-instagram {
  margin-right: 139px;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.button-vk::before {
  background-image: url(../img/vk-icon.png);
  width: 26px;
}

.button-fb::before {
  background-image: url(../img/fb-icon.png);
  width: 12px;
}

.button-instagram::before {
  background-image: url(../img/insta-icon.png);
  width: 21px;
}

.social-button:active {
  background-color: #d7373b;
}

.social-button:active::before {
  opacity: 0.3;
}

.product-slogan {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  max-width: 280px;
  margin-bottom: 30px;
  color: #283136;
}

.slide-title {
  font-size: 55px;
  line-height: 55px;
  color: #000;
  font-weight: 500;
  margin-top: 59px;
  margin-bottom: 28px;
}

.slide-subtext {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  margin: 0;
  margin-bottom: 37px;
}

.index-slider_item2 .slide-subtext {
  padding-right: 150px;
}

.slider-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  width: 300%;
  transition: transform 0.8s ease;
}

.slider-button {
  padding: 17px 56px 15px 53px;
  max-width: 300px;
}

.slider-button:hover,
.slider-button:focus,
.button--small:hover,
.button--small:focus {
  background-color: #e74246;
}

.slider-button:active,
.button--small:focus {
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.range__block {
  position: relative;
  width: 261px;
  height: 81px;
  background-color: #eee;
  border-radius: 5px;
}

.range__first {
  background: #d7dcde;
  position: absolute;
  width: 211px;
  height: 2px;
  top: 50%;
  margin-left: 25px;
}

.range__second {
  background: #00ca74;
  width: 134px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 25px;
}

.prev,
.next {
  background: #fff;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 32px;
  box-shadow: 0 1px 1px 0.5px #cccdcd;
  cursor: pointer;
}

.prev:before,
.next:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background: #ababab;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev {
  left: 158px;
}

.next {
  left: 18px;
}

.wrapper {
  width: 100%;
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.main-header {
  padding-top: 49px;
  padding-bottom: 9px;
  background-color: #eee;
}

.user-basket {
  position: relative;
}

.main-navigation .wrapper {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  display: flex;
  padding-top: 27px;
  padding-right: 78px;
  flex-wrap: wrap;
}

.site-navigation_item {
  margin-right: 46px;
}

.site-navigation_item:last-child {
  margin-right: 6px;
}

.index-slider {
  background-color: #eee;
}

.index-slider_item {
  display: flex;
  width: 100%;
  min-height: 413px;
}

.index-slider_item1 {
  background-image: url(../img/slide-picture.png);
  background-repeat: no-repeat;
  background-position: 93% 0;
}

.index-slider_item2 {
  background-image: url(../img/slide-picture2.png);
  background-repeat: no-repeat;
  background-position: 100% -19px;
}

.index-slider_item3 {
  background-image: url(../img/slide-picture3.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.index-slider_content {
  width: 50%;
  padding-right: 57px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.index-slider .wrapper {
  padding: 0;
}

.slider-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 87px;
  left: 0;
  right: 0;
  bottom: 96px;
  margin: auto;
  z-index: 1;
}

.slider-controls label {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
  border: 5px solid #fff;
}

.slider-controls label:last-child {
  margin-right: 0;
}

.slider input[type="radio"] {
  display: none;
}

.radio {
  display: flex;
  margin-bottom: 15px;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-color: #fff;
  box-shadow: inset 0 0 1px 2px #c1c1c1;
}

#btn-1:checked ~ .slider-list {
  transform: translate(0);
}

#btn-2:checked ~ .slider-list {
  transform: translate(-1160px);
}

#btn-3:checked ~ .slider-list {
  transform: translate(-2320px);
}

.product-item img {
  margin-bottom: 24px;
}

.description .wrapper {
  display: flex;
}

.description-list {
  display: flex;
  flex-direction: column;
  margin-right: 149px;
}

.description-stats {
  display: flex;
  flex-direction: column;
  max-width: 360px;
}

.statistics {
  display: flex;
  margin: 0;
  padding: 0;
}

.statistic-percent sup {
  font-size: 28px;
}

.description-stats img {
  margin-top: 40px;
  margin-bottom: 35px;
}

.description-stats .text--upper {
  margin-bottom: 58px;
  align-self: center;
}

.htmllogo {
  margin-left: 30px;
  margin-right: 98px;
}

.borodlogo {
  margin-right: 103px;
}

.pinklogo {
  margin-right: 121px;
}

.cooperation .wrapper {
  padding: 0;
}

.cooperation-item-html,
.cooperation-item-borod,
.cooperation-item-pink {
  position: relative;
}

.cooperation-item-html::after,
.cooperation-item-borod::after,
.cooperation-item-pink:after {
  content: "";
  position: absolute;
  padding: 52px 0 0;
  border: 1px solid rgba(204, 204, 204, 0.4);
}

.cooperation-item-html::after {
  top: 0;
  left: 280px;
}

.cooperation-item-borod::after {
  top: 11px;
  left: 250px;
}

.cooperation-item-pink:after {
  top: -8px;
  left: 240px;
}

.footer-last {
  display: flex;
  margin-bottom: 69px;
}

.social-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 69px;
}

.section-map .wrapper {
  overflow: visible;
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  height: 0;
  padding: 0;
}

.contact-popup {
  position: fixed;
  padding: 73px 100px 84px 101px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 960px;
  box-sizing: border-box;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
  z-index: 2;
  display: none;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input[type="text"],
.login-form textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 18px 16px 19px;
}

.login-form textarea {
  padding: 14px 15px;
}

.contact-name {
  display: flex;
  justify-content: space-between;
}

.input-title {
  display: block;
  margin-bottom: 12px;
}

.login-form-item {
  width: 47%;
  margin-bottom: 36px;
}

.login-form-itemarea {
  width: 100%;
  margin-bottom: 47px;
}

.popup-title {
  margin: 0;
  padding: 0;
  margin-bottom: 49px;
}

.modal-close {
  width: 21px;
  height: 21px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  top: 78px;
  right: 90px;
  outline: none;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -2px;
  width: 25px;
  height: 3px;
  background-color: #fecccd;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after,
.modal-close:focus::before,
.modal-close:focus::after {
  background-color: #e74246;
}

.modal-close:active::before,
.modal-close:active::after {
  background-color: #fee;
}

.button--large {
  align-self: flex-start;
  padding: 19px 84px 18px 82px;
  cursor: pointer;
}

.contact-popup input[type="text"]::placeholder,
.contact-popup textarea::placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.contact-popup input[type="text"]:focus::placeholder,
.contact-popup textarea:focus::placeholder {
  color: #444;
}

.contact-popup input[type="text"]:focus,
.contact-popup input[type="text"]:active,
.contact-popup textarea:focus,
.contact-popup textarea:active {
  outline: none;
}

.contact-popup input[type="text"]:hover,
textarea:hover {
  border: 2px solid #b4b9bb;
}

.contact-popup input[type="text"]:focus,
.contact-popup textarea:focus {
  border: 2px solid #000;
}

.modal-show {
  display: block;
  animation: bounce 0.6s ease-out;
}

.modal-error {
  animation: shake 0.6s;
}

@keyframes bounce {
  0% {
    transform: translate(-50%, -2000px);
  }

  60% {
    transform: translate(-50%, 10%);
  }

  90% {
    transform: translate(-50%, -60%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-51%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(-49%, -50%);
  }
}

.main-container .wrapper {
  display: flex;
}

.filters {
  display: flex;
  margin-right: 140px;
  margin-top: 54px;
}

.filters label {
  display: block;
}

.container-products {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.sort-product {
  display: flex;
  margin-top: 54px;
  margin-bottom: 53px;
  justify-content: flex-end;
  align-items: center;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 0;
  background-color: #eee;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.product-info p {
  display: block;
  padding: 0 76px;
  margin-top: 14px;
  margin-bottom: 27px;
}

.hidden-product-info {
  height: 576px;
  overflow: hidden;
}

.hidden-product-info:hover .product-info {
  transform: translateY(-100%);
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  overflow: visible;
  height: auto;
  padding: 29px 0 49px;
}

.product-title li {
  max-width: 360px;
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
}

.product-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.checkbox-label {
  position: relative;
  cursor: pointer;
  margin-bottom: 5px;
}

.checkbox-label::before,
.checkbox-label::after {
  position: absolute;
  top: -1px;
  left: -35px;
  z-index: 1;
  width: 19px;
  height: 19px;
  border: 2px solid #ccc;
  content: "";
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
  border-radius: 3px;
}

.checkbox-label::after {
  border: none;
  border-radius: 0;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
}

.checkbox input[type="checkbox"]:checked ~ .checkbox-label::after {
  top: 0;
  left: -29px;
  border: 4px solid #ccc;
  width: 15px;
  height: 7px;
  border-top-style: none;
  border-right-style: none;
  transform: rotate(-45deg);
  box-shadow: 0 2px 0 0 #ffffff, inset 0 -2px 0 0 #fff;
}

.checkbox input[type="checkbox"]:checked ~ .checkbox-label:hover::after {
  border-color: #4d4d4d;
}

.checkbox-label:hover::before {
  border-color: #4d4d4d;
}

.checkbox input[type="checkbox"]:focus + .checkbox-label::before,
.checkbox input[type="checkbox"]:focus + .checkbox-label::after {
  border-color: #4d4d4d;
}

.radio input[type="radio"] {
  opacity: 0;
}

.radio-label {
  position: relative;
  cursor: pointer;
  margin-bottom: 5px;
}

.radio-label::before {
  position: absolute;
  top: 0;
  left: -31px;
  border-radius: 50%;
  z-index: 1;
  width: 9px;
  height: 9px;
  background-color: #fff;
  border: 4px solid #fff;
  box-shadow: 0 0 0 4px #ccc;
  content: "";
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
}

.radio input[type="radio"]:checked ~ .radio-label::before {
  background-color: #ccc;
}

.radio-label:hover::before {
  box-shadow: 0 0 0 4px #4d4d4d;
}

.radio input[type="radio"]:checked ~ .radio-label:hover::before {
  background-color: #4d4d4d;
}

.radio input[type="radio"]:focus + .radio-label::before {
  box-shadow: 0 0 0 4px #4d4d4d;
  background-color: #4d4d4d;
}

.visible-block {
  position: relative;
  margin: 0;
  padding: 0;
  width: 360px;
  height: 40px;
  background-color: #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-color: #eee;
}

.white-circle {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
  top: 15px;
  left: 39px;
}

.white-circle::before,
.white-circle::after {
  position: absolute;
  content: "";
  margin: 0;
  padding: 0;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
}

.white-circle::before {
  left: -23px;
}

.white-circle::after {
  left: 23px;
}

.product--list:hover .visible-block {
  background-color: #4d4d4d;
  border-color: #4d4d4d;
}

.interval {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-top: 18px;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #283136;
  justify-content: space-between;
}

.interval input {
  background-color: #eee;
  padding: 9px 0;
  border-radius: 3px;
  border: none;
  width: 80px;
  text-align: center;
  box-sizing: border-box;
}

.interval span:first-of-type {
  margin-right: 9px;
}

.interval label {
  margin: 0;
}

.filters .filter-title:last-of-type {
  margin-top: 40px;
}

.price-form .checkbox-label {
  margin-left: 23px;
}

.checkbox {
  display: flex;
  margin-bottom: 15px;
}

.checkbox:last-of-type {
  margin-bottom: 44px;
}

.login-form-itemarea textarea {
  resize: none;
}

.section-map iframe {
  width: 100%;
  height: 416px;
}
