body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

.main-navigation {
  background-color: #eeeeee;
}

.site-navigation .catalog-item {
  border-bottom: 2px solid #fb565a;
  padding-bottom: 5px;
}

.site-navigation,
.user-basket {
  list-style: none;
}
.user-basket {
  position: relative;
}
.user-basket::before {
  content: "";
  position: absolute;
  background-image: url("../img/basket-icon.png");
  top: 6px;
  left: 0px;
  width: 15px;
  height: 15px;
  margin: auto;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-navigation a:hover img,
.main-navigation a:focus img {
  opacity: 0.8;
}

.main-navigation a:active img {
  opacity: 0.3;
}

.site-navigation a,
.user-basket a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-basket a:hover,
.user-basket a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-basket a:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-list {
  list-style: none;
}

.product-item {
  text-align: left;
}

.feature-item h3 {
  font-size: 24px;
  line-height: 30px;
}

.button {
  padding: 19px 39px 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background-color: #fb565a;
  border-radius: 3px;
}

.button--green {
  background-color: #00ca74;
}

.button--yellow {
  background-color: #efc84a;
}

.button--red:hover,
.button--red:focus {
  background-color: #e74246;
}

.button--green:hover,
.button--green:focus {
  background-color: #00bc6c;
}

.button--yellow:hover,
.button--yellow:focus {
  background-color: #eab534;
}
.button--red:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.button--green:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}
.button--yellow:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.button--min {
  padding: 19px 46px;
}

.filter-button {
  padding: 19px 88px 18px 89px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  font-weight: 500;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background-color: #eeeeee;
  border-radius: 3px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.text--bold {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.text--upper {
  font-weight: 700;
  text-transform: uppercase;
}

.statistic-percent {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.statistic-title {
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}

.form-text,
.form-tel {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.footer-slogan {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
}

.footer-discount {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.filter-title {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.sort-type {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.price__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.18px;
  text-transform: uppercase;
}

.navigation .text--upper {
  font-size: 18px;
  line-height: 30px;
}

.list-of-examples li {
  color: #283136;
}

.list-of-examples {
  list-style: none;
}

.list-of-examples p:before {
  content: "—";
  width: 25px;
  height: 2px;
  color: #fb565a;
  position: relative;
  left: -5px;
}

.statistics {
  list-style: none;
}

.cooperation-list {
  list-style: none;
}

.footer-social {
  text-align: center;
}
.footer-social ul {
  list-style: none;
}

.login-form label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.price-form label {
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}
.login-form input[type="text"],
.area {
  font-size: 16px;
  color: rgba(68, 68, 68, 0, 5);

  border: 2px solid #d7dcde;
}

.backmarket {
  background-color: #eeeeee;
}

.market {
  margin: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
}

.sort-list {
  list-style: none;
}

.sort-list a {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.product-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.product-name:hover,
.product-name:focus {
  color: #fb565a;
}

.product-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-price {
  font-size: 16px;
  line-height: 18px;
  padding: 19px 60px 18px 62px;
}

.product-price:hover,
.product-price:focus {
  background-color: #e74246;
}

.product-price:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.product-title {
  list-style: none;
}

.product-title p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  text-align: center;
}

.number-list {
  list-style: none;
}
.ddd {
  text-align: center;
  vertical-align: middle;
}
.number-active {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-align: center;

  font-weight: 500;
  width: 43px;
  height: 43px;
  border: solid 3px #dbdbdb;
  background-color: #ffffff;
}

.number a,
.number {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 500;
  width: 43px;
  height: 43px;
  background-color: #eeeeee;
}

.number-next {
  padding: 19px 79px 16px 78px;
}

.number a:hover,
.number:hover,
.number a:focus,
.number:focus {
  background-color: #dfdfdf;
}

.number a:active,
.number:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 1, 1, 0.1);
}

.cooperation-list img {
  opacity: 0.2;
}

.cooperation-list a:hover img,
.cooperation-list a:focus img {
  opacity: 1;
}

.cooperation-list a:active img {
  opacity: 0.1;
}

.section-map {
  position: relative;
}

.section-map .navigation {
  position: absolute;
  top: 54px;
  left: 140px;

  background-color: #ffffff;
  padding: 54px 50px 47px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation .text--upper {
  margin: 0 0 26px;
}

.navigation .form-text {
  margin: 0 0 36px;
}

.social-button {
  display: block;
  background-color: #e1e1e1;
  border-radius: 50%;
  width: 79px;
  height: 79px;
  position: relative;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.button-vk::before {
  background-image: url("../img/vk-icon.png");
  width: 26px;
}

.button-fb::before {
  background-image: url("../img/fb-icon.png");
  width: 12px;
}

.button-in::before {
  background-image: url("../img/insta-icon.png");
  width: 21px;
}
.social-button:active {
  background-color: #d7373b;
}

.social-button:active::before {
  opacity: 0.3;
}

/* ползунок */

.range__block {
  position: relative;
  width: 200px;
}

.range__first {
  background: grey;
  width: 200px;
  height: 3px;
}

.range__second {
  background: green;
  width: 100px;
  height: 3px;
  position: absolute;
  top: 0;
  left: 50px;
}

.prev,
.next {
  background: purple;
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
}

.prev:before,
.next:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.prev {
  left: 142px;
}

.next {
  left: 50px;
}

/* ползунок  конец*/
